/* Style sheet */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8b8680;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.972);
}

#dayNightToggle{
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease 500ms;
}

#dayNightToggle:hover{
    transform: rotate(180deg) scale(1.2);
}

.navButtons {
    font-size: 1.5em;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

a {
       text-decoration: none;
    color: whitesmoke;
    transition: ease 500ms;
}

a:hover{
    transform: scale(1.1) translateY(-5px);
}

#infoContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #7e7a75;
}

.aboutMe{
    font-size: 1.4em;
    color: whitesmoke;
    width: 400px;
    height: 200px;

}

.aboutMePicture {
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 50%;
    
}

#projectsContainer {
    height: fit-content;
    display: grid;
    grid-area: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: inherit;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px
}

@media (max-width: 1000px){
    #infoContainer{
        height: 80vh;
        margin: 15px;
    }
    #projectsContainer{
        grid-template-columns: 1fr 1fr;
        grid-row: inherit;
    }

    #contactContainer {
        height: auto;
    }
}

@media (max-width: 675px){


    .aboutMePicture{
        width: 60vw;
        height: auto;
    }

    #projectsContainer{
        grid-template-columns: 1fr;
    }

    .navButtons{
        font-size: 1em;
    }

    #contactContainer{
        height: auto;
    }
}

.projectCard{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-color: rgba(35, 35, 35, 0.969);
    animation: fadeIn both ;
    animation-timeline: view();
    animation-range: entry 10% cover 80vh;
    overflow: hidden;
    justify-content: center;
}

#projectImage{
    height: 200px;
    width: auto;
    border-bottom: 2px #ff6e4a solid;
}

@keyframes fadeIn {
  from {
    filter: blur(6px);
    opacity: 0;
    transform: translateY(100px) scale(0.8);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


#contactContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: rgb(35,35,35);
    border-top: 2px #ff6e4a solid;
}

.contactInfo {
    margin: 30px 0;
    width: 400px;
    height: 200px;
    border: 2px black solid;
}

.contactPicture {
    height: 200px;
    width: 200px;
    border: 2px black solid;
    
}